<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DAF91E2B-457D-47AA-ADAF-C68E2FD0D11B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
