<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AEEC8B9E-AF6A-4432-902F-771B16390B73</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
