<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0D74EF40-E1F0-4CEA-ACD9-1EC99E9814BC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
