<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DD221461-5F58-4856-B7A3-0FD42177026D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph..notdef</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph..null</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.CR</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.jav</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aabaafili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abafili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ainu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.alifu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.allah-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.baa-thaana</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bismillah-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.chaviyani-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daadhu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daviyani-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.decimalseparator-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dhaalu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotabove</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotbelow</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dottedCircle</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ebefili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eebeefili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eybeyfili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.faafu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fullstop-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gaafu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ghainu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gnaviyani-thaana</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.haa-thaana</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hhaa-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ibifili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.javiyani-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kaafu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.khaa-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.laamu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lefttorightmark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lhaviyani-thaana</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.meemu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naa-thaana</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.noonu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oaboafili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.obofili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ooboofili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paviyani-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qaafu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.raa-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.righttoleftmark</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.saadhu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seenu-thaana</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shaviyani-thaana</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sheenu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sp60</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sukun-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.taviyani-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thaa-thaana</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thaalu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thousandseparator-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.to-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ttaa-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ubufili-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.vaavu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.waavu-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yaa-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zaa-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zaviyani-thaana</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>1</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero-ar</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerowidthjoiner</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerowidthnonjoiner</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zerowidthspace</key>
      <integer>0</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zo-thaana</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
