<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6CEFA917-ACA0-496C-81D1-7C674782FD1C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.naa-thaana</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
