<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1069</integer>
    <key>capHeight</key>
    <integer>714</integer>
    <key>copyright</key>
    <string>Copyright 2022 The Noto Project Authors (https://github.com/notofonts/thaana)</string>
    <key>descender</key>
    <integer>-424</integer>
    <key>familyName</key>
    <string>Noto Sans Thaana</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>y</key>
        <integer>250</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-212</integer>
        <key>y</key>
        <integer>730</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-209</integer>
        <key>y</key>
        <integer>536</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>13.2099</real>
        <key>x</key>
        <integer>1156</integer>
        <key>y</key>
        <integer>526</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>102.7895</real>
        <key>x</key>
        <integer>543</integer>
        <key>y</key>
        <integer>-565</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>301</integer>
        <key>x</key>
        <integer>989</integer>
        <key>y</key>
        <integer>-394</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-386</integer>
        <key>y</key>
        <integer>-162</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-353</integer>
        <key>y</key>
        <integer>-152</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-205</integer>
        <key>y</key>
        <integer>414</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-209</integer>
        <key>y</key>
        <integer>404</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-175</integer>
        <key>y</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-50</integer>
        <key>y</key>
        <integer>-245</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-116</integer>
        <key>y</key>
        <integer>40</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-86</integer>
        <key>y</key>
        <integer>50</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-386</integer>
        <key>y</key>
        <integer>-87</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-353</integer>
        <key>y</key>
        <integer>-77</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-203</integer>
        <key>y</key>
        <integer>781</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>229</integer>
        <key>x</key>
        <integer>725</integer>
        <key>y</key>
        <integer>536</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>49</integer>
        <key>x</key>
        <integer>347</integer>
        <key>y</key>
        <integer>536</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2022/09/06 11:35:03</string>
    <key>openTypeHheaAscender</key>
    <integer>1069</integer>
    <key>openTypeHheaDescender</key>
    <integer>-424</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDescription</key>
    <string>Designed by David Williams</string>
    <key>openTypeNameDesigner</key>
    <string>David Williams</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Google Inc.</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com/get/noto/</string>
    <key>openTypeNameVersion</key>
    <string>Version 3.000</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>322</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>75</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>650</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>350</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>600</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1069</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-424</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>72</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>GOOG</string>
    <key>openTypeOS2WeightClass</key>
    <integer>900</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1069</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>424</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-15</integer>
      <integer>0</integer>
      <integer>536</integer>
      <integer>551</integer>
      <integer>714</integer>
      <integer>729</integer>
      <integer>1069</integer>
      <integer>1084</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-428</integer>
      <integer>-413</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>112</integer>
      <integer>130</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>134</integer>
      <integer>146</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Black</string>
    <key>trademark</key>
    <string>Noto is a trademark of Google LLC</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>536</integer>
  </dict>
</plist>
