<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>3 Sep 22, 17:44</string>
      <string>glyphs.3 S_ep 22, 17_44</string>
    </array>
    <array>
      <string>3 Sep 22, 17:46</string>
      <string>glyphs.3 S_ep 22, 17_46</string>
    </array>
    <array>
      <string>Sep 3 22, 17:46</string>
      <string>glyphs.S_ep 3 22, 17_46</string>
    </array>
    <array>
      <string>Sep 5 22, 14:54</string>
      <string>glyphs.S_ep 5 22, 14_54</string>
    </array>
    <array>
      <string>Jun 30 22, 07:44</string>
      <string>glyphs.J_un 30 22, 07_44</string>
    </array>
    <array>
      <string>Jun 30 22, 15:13</string>
      <string>glyphs.J_un 30 22, 15_13</string>
    </array>
    <array>
      <string>Jul 4 22, 11:47</string>
      <string>glyphs.J_ul 4 22, 11_47</string>
    </array>
    <array>
      <string>Jul 5 22, 09:40</string>
      <string>glyphs.J_ul 5 22, 09_40</string>
    </array>
    <array>
      <string>14 Jul 22, 08:48</string>
      <string>glyphs.14 J_ul 22, 08_48</string>
    </array>
    <array>
      <string>Jul 14 22, 11:43</string>
      <string>glyphs.J_ul 14 22, 11_43</string>
    </array>
    <array>
      <string>14 Jul 22, 11:47</string>
      <string>glyphs.14 J_ul 22, 11_47</string>
    </array>
    <array>
      <string>Jul 14 22, 12:29</string>
      <string>glyphs.J_ul 14 22, 12_29</string>
    </array>
    <array>
      <string>Aug 5 22, 14:02</string>
      <string>glyphs.A_ug 5 22, 14_02</string>
    </array>
    <array>
      <string>Aug 5 22, 14:04</string>
      <string>glyphs.A_ug 5 22, 14_04</string>
    </array>
    <array>
      <string>Aug 5 22, 14:15</string>
      <string>glyphs.A_ug 5 22, 14_15</string>
    </array>
    <array>
      <string>5 Aug 22, 14:15</string>
      <string>glyphs.5 A_ug 22, 14_15</string>
    </array>
    <array>
      <string>Aug 5 22, 14:16</string>
      <string>glyphs.A_ug 5 22, 14_16</string>
    </array>
    <array>
      <string>Aug 28 22, 09:31</string>
      <string>glyphs.A_ug 28 22, 09_31</string>
    </array>
    <array>
      <string>Aug 28 22, 10:23</string>
      <string>glyphs.A_ug 28 22, 10_23</string>
    </array>
  </array>
</plist>
