<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C0C10156-C518-45ED-9381-C4519FAA2070</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
