<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D0B69B36-A80A-4D02-8DFD-8A2FCA764404</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
