<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.colon</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>spaced-off</string>
        <key>R</key>
        <string>spaced-off</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.comma</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>period</string>
        <key>R</key>
        <string>period</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.eight</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.exclam</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>spaced-off</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.five</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.four</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nbspace</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.nine</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.one</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.parenleft</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>R</key>
        <string>parenthesis</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.parenright</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>parenthesis</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.period</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>period</string>
        <key>R</key>
        <string>period</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.quotedblleft</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>quotes</string>
        <key>R</key>
        <string>quotes</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.quotedblright</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>quotes</string>
        <key>R</key>
        <string>quotes</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.quoteleft</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>quotes</string>
        <key>R</key>
        <string>quotes</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.quoteright</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>quotes</string>
        <key>R</key>
        <string>quotes</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.semicolon</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>spaced-off</string>
        <key>R</key>
        <string>spaced-off</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.seven</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.six</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.space</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.three</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.two</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.Glyphs.glyphUserData.zero</key>
    <dict>
      <key>KernOnSpecialSpacing</key>
      <dict>
        <key>L</key>
        <string>NoKerning</string>
        <key>R</key>
        <string>NoKerning</string>
      </dict>
    </dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>1361</string>
    <key>com.schriftgestaltung.customParameter.GSFont.Axes</key>
    <array>
      <dict>
        <key>Name</key>
        <string>Weight</string>
        <key>Tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.Enforce Compatibility Check</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.Axis Location</key>
    <array>
      <dict>
        <key>Axis</key>
        <string>Weight</string>
        <key>Location</key>
        <integer>400</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.TTFZones</key>
    <array>
      <dict>
        <key>name</key>
        <string>xhgt</string>
        <key>position</key>
        <integer>536</integer>
        <key>size</key>
        <integer>15</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>caps</string>
        <key>position</key>
        <integer>714</integer>
        <key>size</key>
        <integer>15</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>asc</string>
        <key>position</key>
        <integer>1065</integer>
        <key>size</key>
        <integer>15</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>base</string>
        <key>position</key>
        <integer>0</integer>
        <key>size</key>
        <integer>-15</integer>
      </dict>
      <dict>
        <key>name</key>
        <string>dsc</string>
        <key>position</key>
        <integer>-416</integer>
        <key>size</key>
        <integer>-15</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>3EC9E734-A013-45CB-A1DF-CD633C54F02E</string>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>400</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>allah-ar</string>
      <string>haa-thaana</string>
      <string>shaviyani-thaana</string>
      <string>noonu-thaana</string>
      <string>raa-thaana</string>
      <string>baa-thaana</string>
      <string>lhaviyani-thaana</string>
      <string>kaafu-thaana</string>
      <string>alifu-thaana</string>
      <string>vaavu-thaana</string>
      <string>meemu-thaana</string>
      <string>faafu-thaana</string>
      <string>dhaalu-thaana</string>
      <string>thaa-thaana</string>
      <string>laamu-thaana</string>
      <string>gaafu-thaana</string>
      <string>gnaviyani-thaana</string>
      <string>seenu-thaana</string>
      <string>daviyani-thaana</string>
      <string>zaviyani-thaana</string>
      <string>taviyani-thaana</string>
      <string>yaa-thaana</string>
      <string>paviyani-thaana</string>
      <string>javiyani-thaana</string>
      <string>chaviyani-thaana</string>
      <string>ttaa-thaana</string>
      <string>hhaa-thaana</string>
      <string>khaa-thaana</string>
      <string>thaalu-thaana</string>
      <string>zaa-thaana</string>
      <string>sheenu-thaana</string>
      <string>saadhu-thaana</string>
      <string>daadhu-thaana</string>
      <string>to-thaana</string>
      <string>zo-thaana</string>
      <string>ainu-thaana</string>
      <string>ghainu-thaana</string>
      <string>qaafu-thaana</string>
      <string>waavu-thaana</string>
      <string>naa-thaana</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>zero-ar</string>
      <string>one-ar</string>
      <string>two-ar</string>
      <string>three-ar</string>
      <string>four-ar</string>
      <string>five-ar</string>
      <string>six-ar</string>
      <string>seven-ar</string>
      <string>eight-ar</string>
      <string>nine-ar</string>
      <string>decimalseparator-ar</string>
      <string>thousandseparator-ar</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>period</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>exclam</string>
      <string>comma</string>
      <string>parenleft-ar</string>
      <string>parenright-ar</string>
      <string>fullstop-ar</string>
      <string>comma-ar</string>
      <string>semicolon-ar</string>
      <string>question-ar</string>
      <string>asterisk-ar</string>
      <string>space</string>
      <string>nbspace</string>
      <string>zerowidthspace</string>
      <string>lefttorightmark</string>
      <string>righttoleftmark</string>
      <string>zerowidthjoiner</string>
      <string>zerowidthnonjoiner</string>
      <string>CR</string>
      <string>.notdef</string>
      <string>.null</string>
      <string>sp60</string>
      <string>dottedCircle</string>
      <string>percent-ar</string>
      <string>bismillah-ar</string>
      <string>dotabove</string>
      <string>dotbelow</string>
      <string>abafili-thaana</string>
      <string>aabaafili-thaana</string>
      <string>ibifili-thaana</string>
      <string>eebeefili-thaana</string>
      <string>ubufili-thaana</string>
      <string>ooboofili-thaana</string>
      <string>ebefili-thaana</string>
      <string>eybeyfili-thaana</string>
      <string>obofili-thaana</string>
      <string>oaboafili-thaana</string>
      <string>sukun-thaana</string>
      <string>_part.haa</string>
      <string>_part.jav</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>aabaafili-thaana</key>
      <string>aabaafilithaana</string>
      <key>abafili-thaana</key>
      <string>abafilithaana</string>
      <key>ainu-thaana</key>
      <string>ainuthaana</string>
      <key>alifu-thaana</key>
      <string>alifuthaana</string>
      <key>allah-ar</key>
      <string>uniFDF2</string>
      <key>asterisk-ar</key>
      <string>uni066D</string>
      <key>baa-thaana</key>
      <string>baathaana</string>
      <key>bismillah-ar</key>
      <string>uniFDFD</string>
      <key>chaviyani-thaana</key>
      <string>chaviyanithaana</string>
      <key>comma-ar</key>
      <string>uni060C</string>
      <key>daadhu-thaana</key>
      <string>daadhuthaana</string>
      <key>daviyani-thaana</key>
      <string>daviyanithaana</string>
      <key>decimalseparator-ar</key>
      <string>uni066B</string>
      <key>dhaalu-thaana</key>
      <string>dhaaluthaana</string>
      <key>dottedCircle</key>
      <string>uni25CC</string>
      <key>ebefili-thaana</key>
      <string>ebefilithaana</string>
      <key>eebeefili-thaana</key>
      <string>eebeefilithaana</string>
      <key>eight-ar</key>
      <string>uni0668</string>
      <key>eybeyfili-thaana</key>
      <string>eybeyfilithaana</string>
      <key>faafu-thaana</key>
      <string>faafuthaana</string>
      <key>five-ar</key>
      <string>uni0665</string>
      <key>four-ar</key>
      <string>uni0664</string>
      <key>fullstop-ar</key>
      <string>uni06D4</string>
      <key>gaafu-thaana</key>
      <string>gaafuthaana</string>
      <key>ghainu-thaana</key>
      <string>ghainuthaana</string>
      <key>gnaviyani-thaana</key>
      <string>gnaviyanithaana</string>
      <key>haa-thaana</key>
      <string>haathaana</string>
      <key>hhaa-thaana</key>
      <string>hhaathaana</string>
      <key>ibifili-thaana</key>
      <string>ibifilithaana</string>
      <key>javiyani-thaana</key>
      <string>javiyanithaana</string>
      <key>kaafu-thaana</key>
      <string>kaafuthaana</string>
      <key>khaa-thaana</key>
      <string>khaathaana</string>
      <key>laamu-thaana</key>
      <string>laamuthaana</string>
      <key>lefttorightmark</key>
      <string>uni200E</string>
      <key>lhaviyani-thaana</key>
      <string>lhaviyanithaana</string>
      <key>meemu-thaana</key>
      <string>meemuthaana</string>
      <key>naa-thaana</key>
      <string>naathaana</string>
      <key>nbspace</key>
      <string>uni00A0</string>
      <key>nine-ar</key>
      <string>uni0669</string>
      <key>noonu-thaana</key>
      <string>noonuthaana</string>
      <key>oaboafili-thaana</key>
      <string>oaboafilithaana</string>
      <key>obofili-thaana</key>
      <string>obofilithaana</string>
      <key>one-ar</key>
      <string>uni0661</string>
      <key>ooboofili-thaana</key>
      <string>ooboofilithaana</string>
      <key>parenleft-ar</key>
      <string>uniFD3E</string>
      <key>parenright-ar</key>
      <string>uniFD3F</string>
      <key>paviyani-thaana</key>
      <string>paviyanithaana</string>
      <key>percent-ar</key>
      <string>uni066A</string>
      <key>qaafu-thaana</key>
      <string>qaafuthaana</string>
      <key>question-ar</key>
      <string>uni061F</string>
      <key>raa-thaana</key>
      <string>raathaana</string>
      <key>righttoleftmark</key>
      <string>uni200F</string>
      <key>saadhu-thaana</key>
      <string>saadhuthaana</string>
      <key>seenu-thaana</key>
      <string>seenuthaana</string>
      <key>semicolon-ar</key>
      <string>uni061B</string>
      <key>seven-ar</key>
      <string>uni0667</string>
      <key>shaviyani-thaana</key>
      <string>shaviyanithaana</string>
      <key>sheenu-thaana</key>
      <string>sheenuthaana</string>
      <key>six-ar</key>
      <string>uni0666</string>
      <key>sukun-thaana</key>
      <string>sukunthaana</string>
      <key>taviyani-thaana</key>
      <string>taviyanithaana</string>
      <key>thaa-thaana</key>
      <string>thaathaana</string>
      <key>thaalu-thaana</key>
      <string>thaaluthaana</string>
      <key>thousandseparator-ar</key>
      <string>uni066C</string>
      <key>three-ar</key>
      <string>uni0663</string>
      <key>to-thaana</key>
      <string>tothaana</string>
      <key>ttaa-thaana</key>
      <string>ttaathaana</string>
      <key>two-ar</key>
      <string>uni0662</string>
      <key>ubufili-thaana</key>
      <string>ubufilithaana</string>
      <key>vaavu-thaana</key>
      <string>vaavuthaana</string>
      <key>waavu-thaana</key>
      <string>waavuthaana</string>
      <key>yaa-thaana</key>
      <string>yaathaana</string>
      <key>zaa-thaana</key>
      <string>zaathaana</string>
      <key>zaviyani-thaana</key>
      <string>zaviyanithaana</string>
      <key>zero-ar</key>
      <string>uni0660</string>
      <key>zerowidthjoiner</key>
      <string>uni200D</string>
      <key>zerowidthnonjoiner</key>
      <string>uni200C</string>
      <key>zerowidthspace</key>
      <string>uni200B</string>
      <key>zo-thaana</key>
      <string>zothaana</string>
    </dict>
  </dict>
</plist>
