<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>_part.haa</key>
    <string>_part.haa.glif</string>
    <key>_part.jav</key>
    <string>_part.jav.glif</string>
    <key>aabaafili-thaana</key>
    <string>aabaafili-thaana.glif</string>
    <key>abafili-thaana</key>
    <string>abafili-thaana.glif</string>
    <key>ainu-thaana</key>
    <string>ainu-thaana.glif</string>
    <key>alifu-thaana</key>
    <string>alifu-thaana.glif</string>
    <key>allah-ar</key>
    <string>allah-ar.glif</string>
    <key>asterisk-ar</key>
    <string>asterisk-ar.glif</string>
    <key>baa-thaana</key>
    <string>baa-thaana.glif</string>
    <key>bismillah-ar</key>
    <string>bismillah-ar.glif</string>
    <key>chaviyani-thaana</key>
    <string>chaviyani-thaana.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>comma-ar</key>
    <string>comma-ar.glif</string>
    <key>daadhu-thaana</key>
    <string>daadhu-thaana.glif</string>
    <key>daviyani-thaana</key>
    <string>daviyani-thaana.glif</string>
    <key>decimalseparator-ar</key>
    <string>decimalseparator-ar.glif</string>
    <key>dhaalu-thaana</key>
    <string>dhaalu-thaana.glif</string>
    <key>dotabove</key>
    <string>dotabove.glif</string>
    <key>dotbelow</key>
    <string>dotbelow.glif</string>
    <key>dottedCircle</key>
    <string>dottedC_ircle.glif</string>
    <key>ebefili-thaana</key>
    <string>ebefili-thaana.glif</string>
    <key>eebeefili-thaana</key>
    <string>eebeefili-thaana.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight-ar</key>
    <string>eight-ar.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>eybeyfili-thaana</key>
    <string>eybeyfili-thaana.glif</string>
    <key>faafu-thaana</key>
    <string>faafu-thaana.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five-ar</key>
    <string>five-ar.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four-ar</key>
    <string>four-ar.glif</string>
    <key>fullstop-ar</key>
    <string>fullstop-ar.glif</string>
    <key>gaafu-thaana</key>
    <string>gaafu-thaana.glif</string>
    <key>ghainu-thaana</key>
    <string>ghainu-thaana.glif</string>
    <key>gnaviyani-thaana</key>
    <string>gnaviyani-thaana.glif</string>
    <key>haa-thaana</key>
    <string>haa-thaana.glif</string>
    <key>hhaa-thaana</key>
    <string>hhaa-thaana.glif</string>
    <key>ibifili-thaana</key>
    <string>ibifili-thaana.glif</string>
    <key>javiyani-thaana</key>
    <string>javiyani-thaana.glif</string>
    <key>kaafu-thaana</key>
    <string>kaafu-thaana.glif</string>
    <key>khaa-thaana</key>
    <string>khaa-thaana.glif</string>
    <key>laamu-thaana</key>
    <string>laamu-thaana.glif</string>
    <key>lefttorightmark</key>
    <string>lefttorightmark.glif</string>
    <key>lhaviyani-thaana</key>
    <string>lhaviyani-thaana.glif</string>
    <key>meemu-thaana</key>
    <string>meemu-thaana.glif</string>
    <key>naa-thaana</key>
    <string>naa-thaana.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine-ar</key>
    <string>nine-ar.glif</string>
    <key>noonu-thaana</key>
    <string>noonu-thaana.glif</string>
    <key>oaboafili-thaana</key>
    <string>oaboafili-thaana.glif</string>
    <key>obofili-thaana</key>
    <string>obofili-thaana.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one-ar</key>
    <string>one-ar.glif</string>
    <key>ooboofili-thaana</key>
    <string>ooboofili-thaana.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft-ar</key>
    <string>parenleft-ar.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>parenright-ar</key>
    <string>parenright-ar.glif</string>
    <key>paviyani-thaana</key>
    <string>paviyani-thaana.glif</string>
    <key>percent-ar</key>
    <string>percent-ar.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>qaafu-thaana</key>
    <string>qaafu-thaana.glif</string>
    <key>question-ar</key>
    <string>question-ar.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>raa-thaana</key>
    <string>raa-thaana.glif</string>
    <key>righttoleftmark</key>
    <string>righttoleftmark.glif</string>
    <key>saadhu-thaana</key>
    <string>saadhu-thaana.glif</string>
    <key>seenu-thaana</key>
    <string>seenu-thaana.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>semicolon-ar</key>
    <string>semicolon-ar.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven-ar</key>
    <string>seven-ar.glif</string>
    <key>shaviyani-thaana</key>
    <string>shaviyani-thaana.glif</string>
    <key>sheenu-thaana</key>
    <string>sheenu-thaana.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six-ar</key>
    <string>six-ar.glif</string>
    <key>sp60</key>
    <string>sp60.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>sukun-thaana</key>
    <string>sukun-thaana.glif</string>
    <key>taviyani-thaana</key>
    <string>taviyani-thaana.glif</string>
    <key>thaa-thaana</key>
    <string>thaa-thaana.glif</string>
    <key>thaalu-thaana</key>
    <string>thaalu-thaana.glif</string>
    <key>thousandseparator-ar</key>
    <string>thousandseparator-ar.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three-ar</key>
    <string>three-ar.glif</string>
    <key>to-thaana</key>
    <string>to-thaana.glif</string>
    <key>ttaa-thaana</key>
    <string>ttaa-thaana.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two-ar</key>
    <string>two-ar.glif</string>
    <key>ubufili-thaana</key>
    <string>ubufili-thaana.glif</string>
    <key>vaavu-thaana</key>
    <string>vaavu-thaana.glif</string>
    <key>waavu-thaana</key>
    <string>waavu-thaana.glif</string>
    <key>yaa-thaana</key>
    <string>yaa-thaana.glif</string>
    <key>zaa-thaana</key>
    <string>zaa-thaana.glif</string>
    <key>zaviyani-thaana</key>
    <string>zaviyani-thaana.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero-ar</key>
    <string>zero-ar.glif</string>
    <key>zerowidthjoiner</key>
    <string>zerowidthjoiner.glif</string>
    <key>zerowidthnonjoiner</key>
    <string>zerowidthnonjoiner.glif</string>
    <key>zerowidthspace</key>
    <string>zerowidthspace.glif</string>
    <key>zo-thaana</key>
    <string>zo-thaana.glif</string>
  </dict>
</plist>
