<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>31C9169D-A1DB-45CD-B437-88FD2EA49BB2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
