<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>633C49BB-8BF9-4BFD-B72E-389F1A8EE4BF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
