<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B5B6620A-CF04-4418-8B4C-3FE5F28960A2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph._part.haa</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
