<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Jul 6 22, 12:30</string>
      <string>glyphs.J_ul 6 22, 12_30</string>
    </array>
    <array>
      <string>8 Aug 22, 09:06</string>
      <string>glyphs.8 A_ug 22, 09_06</string>
    </array>
    <array>
      <string>Aug 8 22, 10:23</string>
      <string>glyphs.A_ug 8 22, 10_23</string>
    </array>
    <array>
      <string>Jul 6 22, 14:00</string>
      <string>glyphs.J_ul 6 22, 14_00</string>
    </array>
  </array>
</plist>
