<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.alifu</key>
    <array>
      <string>alifu-thaana</string>
      <string>to-thaana</string>
      <string>zo-thaana</string>
      <string>ainu-thaana</string>
    </array>
    <key>public.kern1.haa</key>
    <array>
      <string>haa-thaana</string>
      <string>hhaa-thaana</string>
    </array>
    <key>public.kern1.quote.left</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.raa</key>
    <array>
      <string>raa-thaana</string>
      <string>faafu-thaana</string>
      <string>laamu-thaana</string>
      <string>paviyani-thaana</string>
      <string>zaa-thaana</string>
      <string>waavu-thaana</string>
    </array>
    <key>public.kern1.seenu</key>
    <array>
      <string>seenu-thaana</string>
      <string>sheenu-thaana</string>
      <string>saadhu-thaana</string>
      <string>daadhu-thaana</string>
    </array>
    <key>public.kern1.shavi</key>
    <array>
      <string>shaviyani-thaana</string>
      <string>noonu-thaana</string>
      <string>yaa-thaana</string>
    </array>
    <key>public.kern2.alifu</key>
    <array>
      <string>ainu-thaana</string>
      <string>ghainu-thaana</string>
    </array>
    <key>public.kern2.dhaalu</key>
    <array>
      <string>thaalu-thaana</string>
    </array>
    <key>public.kern2.gaafu</key>
    <array>
      <string>gaafu-thaana</string>
      <string>qaafu-thaana</string>
    </array>
    <key>public.kern2.haa</key>
    <array>
      <string>haa-thaana</string>
      <string>khaa-thaana</string>
    </array>
    <key>public.kern2.kaafu</key>
    <array>
      <string>kaafu-thaana</string>
    </array>
    <key>public.kern2.quote.right</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.raa</key>
    <array>
      <string>raa-thaana</string>
      <string>zaa-thaana</string>
    </array>
    <key>public.kern2.seenu</key>
    <array>
      <string>seenu-thaana</string>
      <string>sheenu-thaana</string>
      <string>saadhu-thaana</string>
      <string>daadhu-thaana</string>
    </array>
    <key>public.kern2.shavi</key>
    <array>
      <string>shaviyani-thaana</string>
      <string>noonu-thaana</string>
      <string>gnaviyani-thaana</string>
    </array>
    <key>public.kern2.thaa</key>
    <array>
      <string>thaa-thaana</string>
      <string>zo-thaana</string>
    </array>
    <key>public.kern2.zaviya</key>
    <array>
      <string>zaviyani-thaana</string>
      <string>taviyani-thaana</string>
      <string>javiyani-thaana</string>
      <string>to-thaana</string>
    </array>
  </dict>
</plist>
