<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>baa-thaana</key>
    <dict>
      <key>alifu-thaana</key>
      <integer>-15</integer>
      <key>paviyani-thaana</key>
      <integer>-20</integer>
    </dict>
    <key>chaviyani-thaana</key>
    <dict>
      <key>lhaviyani-thaana</key>
      <integer>-20</integer>
      <key>meemu-thaana</key>
      <integer>-25</integer>
    </dict>
    <key>daviyani-thaana</key>
    <dict>
      <key>alifu-thaana</key>
      <integer>-10</integer>
      <key>daviyani-thaana</key>
      <integer>-10</integer>
    </dict>
    <key>dhaalu-thaana</key>
    <dict>
      <key>alifu-thaana</key>
      <integer>-10</integer>
      <key>dhaalu-thaana</key>
      <integer>-35</integer>
      <key>lhaviyani-thaana</key>
      <integer>-15</integer>
      <key>meemu-thaana</key>
      <integer>-25</integer>
      <key>paviyani-thaana</key>
      <integer>15</integer>
    </dict>
    <key>gaafu-thaana</key>
    <dict>
      <key>baa-thaana</key>
      <integer>-10</integer>
      <key>dhaalu-thaana</key>
      <integer>-25</integer>
      <key>faafu-thaana</key>
      <integer>-15</integer>
      <key>lhaviyani-thaana</key>
      <integer>-20</integer>
      <key>meemu-thaana</key>
      <integer>-25</integer>
      <key>naa-thaana</key>
      <integer>10</integer>
      <key>paviyani-thaana</key>
      <integer>-10</integer>
      <key>public.kern2.kaafu</key>
      <integer>-15</integer>
      <key>yaa-thaana</key>
      <integer>-10</integer>
    </dict>
    <key>ghainu-thaana</key>
    <dict>
      <key>paviyani-thaana</key>
      <integer>-20</integer>
    </dict>
    <key>haa-thaana</key>
    <dict>
      <key>dhaalu-thaana</key>
      <integer>-20</integer>
    </dict>
    <key>kaafu-thaana</key>
    <dict>
      <key>alifu-thaana</key>
      <integer>-20</integer>
      <key>daviyani-thaana</key>
      <integer>-20</integer>
      <key>faafu-thaana</key>
      <integer>-20</integer>
      <key>paviyani-thaana</key>
      <integer>-25</integer>
      <key>public.kern2.gaafu</key>
      <integer>-20</integer>
      <key>vaavu-thaana</key>
      <integer>-10</integer>
    </dict>
    <key>khaa-thaana</key>
    <dict>
      <key>dhaalu-thaana</key>
      <integer>-10</integer>
    </dict>
    <key>lhaviyani-thaana</key>
    <dict>
      <key>alifu-thaana</key>
      <integer>-15</integer>
      <key>daviyani-thaana</key>
      <integer>-25</integer>
      <key>faafu-thaana</key>
      <integer>-30</integer>
      <key>lhaviyani-thaana</key>
      <integer>-10</integer>
      <key>paviyani-thaana</key>
      <integer>-30</integer>
    </dict>
    <key>meemu-thaana</key>
    <dict>
      <key>alifu-thaana</key>
      <integer>-15</integer>
      <key>daviyani-thaana</key>
      <integer>-20</integer>
      <key>dhaalu-thaana</key>
      <integer>-10</integer>
      <key>faafu-thaana</key>
      <integer>-10</integer>
      <key>hhaa-thaana</key>
      <integer>-25</integer>
      <key>laamu-thaana</key>
      <integer>-15</integer>
      <key>paviyani-thaana</key>
      <integer>-20</integer>
    </dict>
    <key>naa-thaana</key>
    <dict>
      <key>chaviyani-thaana</key>
      <integer>-10</integer>
      <key>hhaa-thaana</key>
      <integer>-25</integer>
      <key>public.kern2.kaafu</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.alifu</key>
    <dict>
      <key>public.kern2.gaafu</key>
      <integer>0</integer>
      <key>public.kern2.kaafu</key>
      <integer>-10</integer>
      <key>public.kern2.raa</key>
      <integer>0</integer>
      <key>public.kern2.seenu</key>
      <integer>0</integer>
      <key>public.kern2.shavi</key>
      <integer>-10</integer>
      <key>public.kern2.thaa</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.haa</key>
    <dict>
      <key>public.kern2.kaafu</key>
      <integer>0</integer>
      <key>public.kern2.seenu</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.raa</key>
    <dict>
      <key>public.kern2.gaafu</key>
      <integer>0</integer>
      <key>public.kern2.kaafu</key>
      <integer>0</integer>
      <key>public.kern2.seenu</key>
      <integer>0</integer>
      <key>public.kern2.shavi</key>
      <integer>0</integer>
      <key>public.kern2.thaa</key>
      <integer>0</integer>
      <key>public.kern2.zaviya</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.seenu</key>
    <dict>
      <key>public.kern2.gaafu</key>
      <integer>0</integer>
      <key>public.kern2.kaafu</key>
      <integer>0</integer>
      <key>public.kern2.thaa</key>
      <integer>0</integer>
      <key>public.kern2.zaviya</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.shavi</key>
    <dict>
      <key>public.kern2.kaafu</key>
      <integer>0</integer>
      <key>public.kern2.seenu</key>
      <integer>0</integer>
      <key>public.kern2.shavi</key>
      <integer>-10</integer>
      <key>public.kern2.thaa</key>
      <integer>0</integer>
      <key>public.kern2.zaviya</key>
      <integer>0</integer>
    </dict>
    <key>thaa-thaana</key>
    <dict>
      <key>lhaviyani-thaana</key>
      <integer>-20</integer>
      <key>meemu-thaana</key>
      <integer>-15</integer>
      <key>public.kern2.kaafu</key>
      <integer>-30</integer>
      <key>seenu-thaana</key>
      <integer>-10</integer>
    </dict>
    <key>vaavu-thaana</key>
    <dict>
      <key>alifu-thaana</key>
      <integer>-10</integer>
      <key>paviyani-thaana</key>
      <integer>-10</integer>
    </dict>
    <key>zaviyani-thaana</key>
    <dict>
      <key>alifu-thaana</key>
      <integer>-10</integer>
      <key>dhaalu-thaana</key>
      <integer>-10</integer>
      <key>faafu-thaana</key>
      <integer>-20</integer>
      <key>hhaa-thaana</key>
      <integer>-25</integer>
      <key>paviyani-thaana</key>
      <integer>-15</integer>
      <key>yaa-thaana</key>
      <integer>-10</integer>
    </dict>
  </dict>
</plist>
