<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>32BEF071-1E56-468C-A4DF-B75DEA4A1BE2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.meemu-thaana</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
